In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
%matplotlib inline

*Loading the Data:*

**ACS 1 Year Estimates** - the American Community Survey (ACS) provides tract-level population estimates for the 2011-2015 period. ACS estimates were downloaded from the Census Bureau's FactFinder application and from the National Historic GIS website.

**FCC** - Tract-level data on household Internet connectivity is from the Federal Communications Commission's (FCC) Form 477 Census Tract Data on Internet Access Services (current as of June 30, 2016).


**IPUMS** - The Integrated Public Use Microdata Series (IPUMS-USA) provides user level socioeconomic data from as early as 1950-2016 organized by Public Use Microdata Area. Socioeconomic data includes touchpoints on: Rural / Urban Settings, Household Demographics, Gender, Age, Marriage, Race & Ethnicity, Education, Work, Income

**census_tract_converter** - code lookup to convert PUMA to census tract data

**Dropbox for Data** - https://www.dropbox.com/sh/v3viqffuphbpvee/AACm5N4_c7jGzTPxiYbeNo1sa?dl=0

In [7]:
#pdb 

pdb = pd.read_csv("pdb2016trv8_us.csv", sep = ",", encoding = "latin-1",dtype={'tract':object})

#acs 1 year estimate
#need to add new acs data from the acs notebook
# acs = pd.read_csv("ACS_16_5YR_B01003_with_all_states.csv", sep = ",", encoding = "latin-1", header = 1, dtype={'tractcode': object})

#fcc data
fcc = pd.read_csv("tract_map_jun_2016.csv", sep=",", encoding = "latin-1", dtype={'tractcode': object})

# IPUMs data broken out by PUMA Codes with Data Dictionary (DDI)
# https://usa.ipums.org/usa-action/extract_requests/download, login: robert.y.deng@gmail.com // w209
ipums = pd.read_csv("usa_00005.csv", sep=",", encoding="latin-1")

# Puma to census tract converter, https://www.census.gov/geo/maps-data/data/centract_rel.html
ptc = pd.read_csv("2010_Census_Tract_to_2010_PUMA.txt", sep=',', encoding='latin-1')

#shapefiles

census_shp = gpd.read_file("Tract_2010Census_DP1.shp")

In [ ]:
census_shp

In [10]:
z=census_shp["GEOID10"].unique()

In [11]:
sorted(z)

['01001020100',
 '01001020200',
 '01001020300',
 '01001020400',
 '01001020500',
 '01001020600',
 '01001020700',
 '01001020801',
 '01001020802',
 '01001020900',
 '01001021000',
 '01001021100',
 '01003010100',
 '01003010200',
 '01003010300',
 '01003010400',
 '01003010500',
 '01003010600',
 '01003010701',
 '01003010703',
 '01003010704',
 '01003010705',
 '01003010800',
 '01003010903',
 '01003010904',
 '01003010905',
 '01003010906',
 '01003011000',
 '01003011101',
 '01003011102',
 '01003011201',
 '01003011202',
 '01003011300',
 '01003011401',
 '01003011403',
 '01003011405',
 '01003011406',
 '01003011407',
 '01003011408',
 '01003011501',
 '01003011502',
 '01003011601',
 '01003011602',
 '01003990000',
 '01005950100',
 '01005950200',
 '01005950300',
 '01005950400',
 '01005950500',
 '01005950600',
 '01005950700',
 '01005950800',
 '01005950900',
 '01007010001',
 '01007010002',
 '01007010003',
 '01007010004',
 '01009050101',
 '01009050102',
 '01009050200',
 '01009050300',
 '01009050400',
 '01009050500',
 '01009050601',
 '01009050602',
 '01009050700',
 '01011952100',
 '01011952200',
 '01011952500',
 '01013952700',
 '01013952800',
 '01013952900',
 '01013953000',
 '01013953100',
 '01013953200',
 '01013953300',
 '01013953400',
 '01013953500',
 '01015000200',
 '01015000300',
 '01015000400',
 '01015000500',
 '01015000600',
 '01015000700',
 '01015000800',
 '01015000900',
 '01015001000',
 '01015001100',
 '01015001201',
 '01015001202',
 '01015001300',
 '01015001400',
 '01015001500',
 '01015001600',
 '01015001700',
 '01015001800',
 '01015002000',
 '01015002101',
 '01015002102',
 '01015002103',
 '01015002200',
 '01015002300',
 '01015002400',
 '01015002501',
 '01015002502',
 '01015002600',
 '01015981901',
 '01015981902',
 '01015981903',
 '01017953800',
 '01017953900',
 '01017954000',
 '01017954200',
 '01017954300',
 '01017954400',
 '01017954500',
 '01017954600',
 '01017954700',
 '01019955701',
 '01019955702',
 '01019955800',
 '01019955900',
 '01019956000',
 '01019956100',
 '01021060101',
 '01021060102',
 '01021060200',
 '01021060300',
 '01021060401',
 '01021060402',
 '01021060500',
 '01021060600',
 '01021060700',
 '01023956700',
 '01023956800',
 '01023956900',
 '01023957000',
 '01025957500',
 '01025957601',
 '01025957602',
 '01025957700',
 '01025957800',
 '01025957901',
 '01025957902',
 '01025958001',
 '01025958002',
 '01027958900',
 '01027959000',
 '01027959100',
 '01027959200',
 '01029959500',
 '01029959600',
 '01029959700',
 '01029959800',
 '01031010100',
 '01031010200',
 '01031010300',
 '01031010400',
 '01031010500',
 '01031010600',
 '01031010700',
 '01031010800',
 '01031010900',
 '01031011000',
 '01031011100',
 '01031011201',
 '01031011202',
 '01031011300',
 '01033020100',
 '01033020200',
 '01033020300',
 '01033020400',
 '01033020500',
 '01033020600',
 '01033020701',
 '01033020703',
 '01033020704',
 '01033020801',
 '01033020802',
 '01033020901',
 '01033020902',
 '01033021000',
 '01035960200',
 '01035960300',
 '01035960400',
 '01035960500',
 '01035960600',
 '01037961000',
 '01037961100',
 '01037961200',
 '01039961600',
 '01039961700',
 '01039961800',
 '01039961900',
 '01039962000',
 '01039962100',
 '01039962300',
 '01039962400',
 '01039962500',
 '01039962600',
 '01039962700',
 '01039962800',
 '01039962900',
 '01039963000',
 '01041963400',
 '01041963500',
 '01041963600',
 '01041963700',
 '01041963800',
 '01041963900',
 '01043964100',
 '01043964200',
 '01043964300',
 '01043964400',
 '01043964500',
 '01043964600',
 '01043964700',
 '01043964800',
 '01043964900',
 '01043965000',
 '01043965100',
 '01043965200',
 '01043965300',
 '01043965401',
 '01043965402',
 '01043965500',
 '01043965600',
 '01043965700',
 '01045020000',
 '01045020100',
 '01045020200',
 '01045020300',
 '01045020400',
 '01045020500',
 '01045020700',
 '01045020801',
 '01045020802',
 '01045021101',
 '01045021102',
 '01045021200',
 '01045021300',
 '01045021400',
 '01047956100',
 '01047956201',
 '01047956202',
 '01047956300',
 '01047956400',
 '01047956500',
 '01047956600',
 '01047956701',
 '01047956702',
 '01047956800',
 '01047956900',
 '01047957000',
 '01047957100',
 '01047957200',
 '01047957300',
 '01049960100',
 '01049960200',
 '01049960300',
 '01049960400',
 '01049960500',
 '01049960600',
 '01049960700',
 '01049960800',
 '01049960900',
 '01049961000',
 '01049961100',
 '01049961200',
 '01049961300',
 '01049961400',
 '01051030100',
 '01051030200',
 '01051030300',
 '01051030400',
 '01051030500',
 '01051030600',
 '01051030701',
 '01051030702',
 '01051030800',
 '01051030901',
 '01051030902',
 '01051031000',
 '01051031100',
 '01051031200',
 '01051031300',
 '01053969800',
 '01053969900',
 '01053970100',
 '01053970200',
 '01053970300',
 '01053970400',
 '01053970500',
 '01053970600',
 '01053970700',
 '01055000200',
 '01055000300',
 '01055000400',
 '01055000500',
 '01055000600',
 '01055000700',
 '01055000800',
 '01055000900',
 '01055001000',
 '01055001100',
 '01055001200',
 '01055001300',
 '01055001600',
 '01055001700',
 '01055010100',
 '01055010200',
 '01055010300',
 '01055010401',
 '01055010402',
 '01055010501',
 '01055010502',
 '01055010601',
 '01055010602',
 '01055010700',
 '01055010800',
 '01055010900',
 '01055011001',
 '01055011002',
 '01055011100',
 '01055011200',
 '01057020000',
 '01057020100',
 '01057020200',
 '01057020300',
 '01057020400',
 '01059972900',
 '01059973000',
 '01059973100',
 '01059973200',
 '01059973300',
 '01059973400',
 '01059973500',
 '01059973600',
 '01059973700',
 '01061050100',
 '01061050200',
 '01061050300',
 '01061050400',
 '01061050500',
 '01061050600',
 '01063060000',
 '01063060100',
 '01063060200',
 '01065040000',
 '01065040100',
 '01065040200',
 '01065040300',
 '01065040400',
 '01065040500',
 '01067030100',
 '01067030200',
 '01067030300',
 '01067030400',
 '01067030500',
 '01067030600',
 '01069040100',
 '01069040201',
 '01069040202',
 '01069040301',
 '01069040302',
 '01069040400',
 '01069040500',
 '01069040600',
 '01069040700',
 '01069040800',
 '01069040900',
 '01069041000',
 '01069041100',
 '01069041200',
 '01069041400',
 '01069041500',
 '01069041600',
 '01069041700',
 '01069041800',
 '01069041900',
 '01069042000',
 '01069042100',
 '01071950100',
 '01071950200',
 '01071950300',
 '01071950400',
 '01071950500',
 '01071950600',
 '01071950700',
 '01071950800',
 '01071950900',
 '01071951000',
 '01071951100',
 '01073000100',
 '01073000300',
 '01073000400',
 '01073000500',
 '01073000700',
 '01073000800',
 '01073001100',
 '01073001200',
 '01073001400',
 '01073001500',
 '01073001600',
 '01073001902',
 '01073002000',
 '01073002100',
 '01073002200',
 '01073002303',
 '01073002305',
 '01073002306',
 '01073002400',
 '01073002700',
 '01073002900',
 '01073003001',
 '01073003002',
 '01073003100',
 '01073003200',
 '01073003300',
 '01073003400',
 '01073003500',
 '01073003600',
 '01073003700',
 '01073003802',
 '01073003803',
 '01073003900',
 '01073004000',
 '01073004200',
 '01073004500',
 '01073004701',
 '01073004702',
 '01073004800',
 '01073004901',
 '01073004902',
 '01073005000',
 '01073005101',
 '01073005103',
 '01073005104',
 '01073005200',
 '01073005302',
 '01073005500',
 '01073005600',
 '01073005701',
 '01073005702',
 '01073005800',
 '01073005903',
 '01073005905',
 '01073005907',
 '01073005908',
 '01073005909',
 '01073005910',
 '01073010001',
 '01073010002',
 '01073010100',
 '01073010200',
 '01073010301',
 '01073010302',
 '01073010401',
 '01073010402',
 '01073010500',
 '01073010602',
 '01073010603',
 '01073010701',
 '01073010702',
 '01073010703',
 '01073010704',
 '01073010705',
 '01073010706',
 '01073010801',
 '01073010802',
 '01073010803',
 '01073010804',
 '01073010805',
 '01073010900',
 '01073011001',
 '01073011002',
 '01073011104',
 '01073011107',
 '01073011108',
 '01073011109',
 '01073011110',
 '01073011111',
 '01073011205',
 '01073011206',
 '01073011207',
 '01073011208',
 '01073011209',
 '01073011210',
 '01073011301',
 '01073011302',
 '01073011400',
 '01073011500',
 '01073011600',
 '01073011703',
 '01073011704',
 '01073011705',
 '01073011706',
 '01073011802',
 '01073011803',
 '01073011804',
 '01073011901',
 '01073011904',
 '01073012001',
 '01073012002',
 '01073012103',
 '01073012104',
 '01073012200',
 '01073012302',
 '01073012304',
 '01073012305',
 '01073012401',
 '01073012402',
 '01073012403',
 '01073012500',
 '01073012602',
 '01073012701',
 '01073012703',
 '01073012704',
 '01073012802',
 '01073012803',
 '01073012905',
 '01073012906',
 '01073012907',
 '01073012908',
 '01073012910',
 '01073012911',
 '01073012912',
 '01073012913',
 '01073012914',
 '01073012915',
 '01073013002',
 '01073013100',
 '01073013200',
 '01073013300',
 '01073013400',
 '01073013601',
 '01073013801',
 '01073013901',
 '01073013902',
 '01073014001',
 '01073014002',
 '01073014102',
 '01073014104',
 '01073014105',
 '01073014203',
 '01073014204',
 '01073014301',
 '01073014302',
 '01073014404',
 '01073014405',
 '01073014406',
 '01073014408',
 '01073014409',
 '01073014410',
 '01073014412',
 '01073014413',
 '01075030000',
 '01075030100',
 '01075030200',
 '01077010100',
 '01077010200',
 '01077010300',
 '01077010400',
 '01077010600',
 '01077010700',
 '01077010800',
 '01077010900',
 '01077011000',
 '01077011101',
 '01077011102',
 '01077011200',
 '01077011300',
 '01077011400',
 '01077011501',
 '01077011502',
 '01077011602',
 '01077011603',
 '01077011604',
 '01077011700',
 '01077011801',
 '01077011802',
 '01079979100',
 '01079979200',
 '01079979300',
 '01079979400',
 '01079979500',
 '01079979600',
 '01079979700',
 '01079979800',
 '01079979900',
 '01081040200',
 '01081040300',
 '01081040400',
 '01081040500',
 '01081040602',
 '01081040603',
 '01081040604',
 '01081040700',
 '01081040800',
 '01081040901',
 '01081040902',
 '01081041000',
 '01081041100',
 '01081041200',
 '01081041300',
 '01081041400',
 '01081041600',
 '01081041700',
 '01081041800',
 '01081041900',
 '01081042002',
 '01081042003',
 '01081042004',
 '01081042005',
 '01081042006',
 '01081042101',
 '01081042102',
 '01083020101',
 '01083020102',
 '01083020201',
 '01083020202',
 '01083020300',
 '01083020401',
 '01083020402',
 '01083020500',
 '01083020600',
 '01083020700',
 '01083020801',
 '01083020802',
 '01083020900',
 '01083021000',
 '01083021100',
 '01083021200',
 '01085780800',
 '01085781000',
 '01085781100',
 '01085781200',
 '01087231400',
 '01087231500',
 '01087231601',
 '01087231602',
 '01087231603',
 '01087231700',
 '01087231800',
 '01087231900',
 '01087232000',
 '01087232100',
 '01087232200',
 '01087232300',
 '01089000201',
 '01089000202',
 '01089000301',
 '01089000302',
 '01089000403',
 '01089000501',
 '01089000502',
 '01089000503',
 '01089000601',
 '01089000602',
 '01089000701',
 '01089000702',
 '01089000901',
 '01089000902',
 '01089001000',
 '01089001200',
 '01089001301',
 '01089001302',
 '01089001401',
 '01089001402',
 '01089001500',
 '01089001700',
 '01089001801',
 '01089001901',
 '01089001902',
 '01089001903',
 '01089002000',
 '01089002100',
 '01089002200',
 '01089002300',
 '01089002400',
 '01089002501',
 '01089002502',
 '01089002600',
 '01089002701',
 '01089002721',
 '01089002722',
 '01089002801',
 '01089002802',
 '01089002911',
 '01089002912',
 '01089002921',
 '01089002922',
 '01089003000',
 '01089003100',
 '01089010100',
 '01089010200',
 '01089010301',
 '01089010302',
 '01089010401',
 '01089010402',
 '01089010501',
 '01089010502',
 '01089010612',
 '01089010621',
 '01089010622',
 '01089010623',
 '01089010624',
 '01089010701',
 '01089010702',
 '01089010800',
 '01089010901',
 '01089010902',
 '01089011011',
 '01089011012',
 '01089011013',
 '01089011014',
 '01089011021',
 '01089011022',
 '01089011100',
 '01089011200',
 '01089011300',
 '01089011400',
 '01091972900',
 '01091973000',
 '01091973100',
 '01091973200',
 '01091973300',
 '01091973400',
 '01093964000',
 '01093964100',
 '01093964200',
 '01093964300',
 '01093964400',
 '01093964500',
 '01093964600',
 '01093964700',
 '01095030100',
 '01095030201',
 '01095030202',
 '01095030300',
 '01095030401',
 '01095030402',
 '01095030500',
 '01095030600',
 '01095030701',
 '01095030702',
 '01095030801',
 '01095030802',
 '01095030902',
 '01095030903',
 '01095030904',
 '01095031000',
 '01095031100',
 '01095031200',
 '01097000200',
 '01097000401',
 '01097000402',
 '01097000500',
 '01097000600',
 '01097000701',
 '01097000702',
 '01097000800',
 '01097000901',
 '01097000902',
 '01097000903',
 '01097001001',
 '01097001002',
 '01097001100',
 '01097001200',
 '01097001302',
 '01097001400',
 '01097001501',
 '01097001502',
 '01097001800',
 '01097001901',
 '01097001902',
 '01097002000',
 '01097002100',
 '01097002200',
 '01097002301',
 '01097002302',
 '01097002400',
 '01097002501',
 '01097002502',
 '01097002600',
 '01097002700',
 '01097002800',
 '01097002900',
 '01097003000',
 '01097003100',
 '01097003202',
 '01097003203',
 '01097003204',
 '01097003205',
 '01097003301',
 '01097003302',
 '01097003402',
 '01097003404',
 '01097003405',
 '01097003406',
 '01097003407',
 '01097003408',
 '01097003501',
 '01097003502',
 '01097003602',
 '01097003605',
 '01097003606',
 '01097003607',
 '01097003608',
 '01097003703',
 '01097003704',
 '01097003705',
 '01097003706',
 '01097003707',
 '01097003708',
 '01097003709',
 '01097003710',
 '01097003800',
 '01097003901',
 '01097003902',
 '01097004000',
 '01097004100',
 '01097004800',
 '01097004900',
 '01097005000',
 '01097005100',
 '01097005200',
 '01097005300',
 '01097005400',
 '01097005500',
 '01097005600',
 '01097005700',
 '01097005800',
 '01097005900',
 '01097006000',
 '01097006102',
 '01097006103',
 '01097006104',
 '01097006105',
 '01097006200',
 '01097006301',
 '01097006302',
 '01097006402',
 '01097006403',
 '01097006404',
 '01097006405',
 '01097006406',
 '01097006407',
 '01097006501',
 '01097006502',
 '01097006600',
 '01097006701',
 '01097006702',
 '01097006801',
 '01097006802',
 '01097006901',
 '01097006902',
 '01097007000',
 '01097007101',
 '01097007102',
 '01097007103',
 '01097007201',
 '01097007202',
 '01097007300',
 '01097007400',
 '01097007500',
 '01097007600',
 '01097007700',
 '01097990000',
 '01099075600',
 '01099075700',
 '01099075800',
 '01099075900',
 '01099076000',
 '01099076100',
 '01099076200',
 '01101000100',
 '01101000200',
 '01101000300',
 '01101000400',
 '01101000500',
 '01101000600',
 '01101000700',
 '01101000900',
 '01101001000',
 '01101001100',
 '01101001200',
 '01101001300',
 '01101001400',
 '01101001500',
 '01101001600',
 '01101001700',
 '01101001800',
 '01101001900',
 '01101002000',
 '01101002100',
 '01101002201',
 '01101002202',
 '01101002300',
 '01101002400',
 '01101002500',
 '01101002600',
 '01101002700',
 '01101002800',
 '01101002900',
 '01101003000',
 '01101003100',
 '01101003200',
 '01101003301',
 '01101003302',
 '01101005101',
 '01101005102',
 '01101005301',
 '01101005302',
 '01101005402',
 '01101005403',
 '01101005406',
 '01101005407',
 '01101005408',
 '01101005409',
 '01101005410',
 '01101005501',
 '01101005502',
 '01101005503',
 '01101005504',
 '01101005603',
 '01101005604',
 '01101005605',
 '01101005606',
 '01101005607',
 '01101005608',
 '01101005609',
 '01101005610',
 '01101005611',
 '01101005612',
 '01101005700',
 '01101005800',
 '01101005901',
 '01101005902',
 '01101006000',
 '01101006100',
 '01103000100',
 '01103000200',
 '01103000300',
 '01103000400',
 '01103000600',
 '01103000700',
 '01103000800',
 '01103000900',
 '01103001000',
 '01103005101',
 '01103005103',
 '01103005105',
 '01103005106',
 '01103005107',
 '01103005108',
 '01103005109',
 '01103005200',
 '01103005301',
 '01103005302',
 '01103005303',
 '01103005304',
 '01103005404',
 '01103005405',
 '01103005500',
 '01103005600',
 '01103005701',
 '01103005702',
 '01105686800',
 '01105687000',
 '01105687100',
 '01107050000',
 '01107050100',
 '01107050200',
 '01107050300',
 '01107050400',
 '01109188600',
 '01109188700',
 '01109188800',
 '01109188900',
 '01109189000',
 '01109189100',
 '01109189200',
 '01109189300',
 '01111000100',
 '01111000200',
 '01111000300',
 '01111000400',
 '01111000500',
 '01111000600',
 '01113030200',
 '01113030300',
 '01113030401',
 '01113030402',
 '01113030500',
 '01113030600',
 '01113030700',
 '01113030800',
 '01113030901',
 '01113030902',
 ...]

In [ ]:
"01001020100"

In [3]:
print("ACS Shape", acs.shape, "\nFCC Shape", fcc.shape, 
      "\nIPUMS Shape", ipums.shape, "\nPUMA Code Converter", ptc.shape)

ACS Shape (74001, 5)
FCC Shape (73767, 3)
IPUMS Shape (3156487, 24)
PUMA Code Converter (74091, 4)

In [4]:
# acs.head()

,Id,Id2,Geography,Estimate; Total,Margin of Error; Total
0,1400000US01001020100,1001020100,"Census Tract 201, Autauga County, Alabama",2010,231
1,1400000US01001020200,1001020200,"Census Tract 202, Autauga County, Alabama",2196,281
2,1400000US01001020300,1001020300,"Census Tract 203, Autauga County, Alabama",3136,355
3,1400000US01001020400,1001020400,"Census Tract 204, Autauga County, Alabama",4563,464
4,1400000US01001020500,1001020500,"Census Tract 205, Autauga County, Alabama",10529,655

In [5]:
ipums.sample(5)

,YEAR,DATANUM,SERIAL,HHWT,PUMA,GQ,FARM,PERNUM,PERWT,FAMSIZE,...,YRSUSA1,SPEAKENG,HCOVANY,GRADEATT,GRADEATTD,DEGFIELD,DEGFIELDD,EMPSTAT,EMPSTATD,INCWAGE
645830,2016,1,268841,74,1101,1,1,3,95,3,...,15,3,2,6,60,0,0,1,10,30000
1099937,2016,1,470487,126,2200,1,1,2,143,2,...,0,3,2,0,0,0,0,3,30,0
2512899,2016,1,1103544,58,604,1,1,1,58,3,...,0,3,2,0,0,33,3301,1,10,53000
1442569,2016,1,626015,149,3208,1,1,1,149,3,...,23,5,2,0,0,0,0,3,30,0
993220,2016,1,423751,23,1701,1,1,2,22,2,...,0,3,2,0,0,0,0,3,30,0

Cleaning the IPUMS data, there are 3 steps:
    1. Dummify ordinal variables and remove the original ordinal columns
    2. Groupby Serial number, which is user level identifier data
        - Sum and average for specific metrics separately and then merge
    3. Groupby PUMA code 
        - Sum and average for specific metrics separately and then merge

In [6]:
#dummify everything with an ordinal variable:
#race, farm, Citizen, speak english, healthcare coverage, grade attended, employment
ipums_cleaned = pd.concat([ipums.drop(ipums[["YEAR", "DATANUM", "HHWT", "GQ", "PERNUM", "PERWT", "YRIMMIG",
                                            "RACE", "FARM", "CITIZEN", "SPEAKENG", "HCOVANY", 
                                            "GRADEATT", "DEGFIELD", "EMPSTAT", 
                                            "GRADEATTD", "RACED", 
                                            "DEGFIELDD", "EMPSTATD"]], axis = 1),
                          pd.get_dummies(ipums["RACE"], prefix="RACE"),
                          pd.get_dummies(ipums["FARM"], prefix="FARM"),
                          pd.get_dummies(ipums["CITIZEN"], prefix="CITIZEN"), 
                          pd.get_dummies(ipums["SPEAKENG"], prefix="SPEAKS_ENGLISH"), 
                          pd.get_dummies(ipums["HCOVANY"], prefix="HEALTH_CARE_COVERAGE"), 
                          pd.get_dummies(ipums["GRADEATT"], prefix = "EDUCATION"), 
                          #pd.get_dummies(ipums["DEGFIELD"], prefix="FIELD_OF_DEGREE"), Just TMI, so just remove it
                          pd.get_dummies(ipums["EMPSTAT"], prefix="EMPLOYMENT")], axis = 1)


ipums_cleaned.head(n=50)

#Famsize - average
#YRSUSA - median, or non-zero count
#IncWage - sum
#everything else just sum

,SERIAL,PUMA,FAMSIZE,YRSUSA1,INCWAGE,RACE_1,RACE_2,RACE_3,RACE_4,RACE_5,...,EDUCATION_2,EDUCATION_3,EDUCATION_4,EDUCATION_5,EDUCATION_6,EDUCATION_7,EMPLOYMENT_0,EMPLOYMENT_1,EMPLOYMENT_2,EMPLOYMENT_3
0,1,700,2,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,700,2,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2,900,1,0,27300,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,3,302,4,0,65000,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,3,302,4,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,3,302,4,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6,3,302,4,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
7,4,600,2,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8,4,600,2,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,5,2500,2,0,78000,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
10,5,2500,2,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11,6,2702,2,0,19200,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
12,6,2702,2,0,19100,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13,7,2500,1,0,35000,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
14,8,2701,5,0,27000,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
15,8,2701,5,0,18000,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16,8,2701,5,0,999999,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,0
17,8,2701,5,0,999999,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
18,8,2701,5,0,999999,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,0
19,9,1400,3,0,5000,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
20,9,1400,3,0,999999,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
21,9,1400,3,0,999999,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
22,10,2500,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23,11,2500,3,0,356000,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
24,11,2500,3,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
25,11,2500,3,0,999999,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
26,12,1900,2,42,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
27,12,1900,2,51,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
28,13,1400,5,0,350,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29,13,1400,5,0,720,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
30,13,1400,5,0,999999,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
31,13,1400,5,0,999999,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
32,13,1400,5,0,999999,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
33,14,2100,1,0,2400,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
34,15,1600,1,0,17000,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
35,16,500,3,0,8000,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
36,16,500,3,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
37,16,500,3,0,31600,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
38,17,1301,3,0,15000,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
39,17,1301,3,0,9000,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
40,17,1301,3,0,12500,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
41,18,1100,3,0,22600,0,1,0,0,0,...,0,0,0,0,0,1,0,1,0,0
42,18,1100,3,0,1000,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
43,18,1100,3,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
44,19,302,4,0,10000,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
45,19,302,4,0,5000,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
46,19,302,4,0,999999,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
47,19,302,4,0,999999,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
48,20,2400,2,0,59000,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
49,20,2400,2,0,60000,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [7]:
print("{:.2f} Total columns for IPUMS Cleaned".format(len(ipums_cleaned.columns),), 
      "\n\n", ipums_cleaned.columns)

40.00 Total columns for IPUMS Cleaned

 Index(['SERIAL', 'PUMA', 'FAMSIZE', 'YRSUSA1', 'INCWAGE', 'RACE_1', 'RACE_2',
       'RACE_3', 'RACE_4', 'RACE_5', 'RACE_6', 'RACE_7', 'RACE_8', 'RACE_9',
       'FARM_1', 'FARM_2', 'CITIZEN_0', 'CITIZEN_1', 'CITIZEN_2', 'CITIZEN_3',
       'SPEAKS_ENGLISH_0', 'SPEAKS_ENGLISH_1', 'SPEAKS_ENGLISH_3',
       'SPEAKS_ENGLISH_4', 'SPEAKS_ENGLISH_5', 'SPEAKS_ENGLISH_6',
       'HEALTH_CARE_COVERAGE_1', 'HEALTH_CARE_COVERAGE_2', 'EDUCATION_0',
       'EDUCATION_1', 'EDUCATION_2', 'EDUCATION_3', 'EDUCATION_4',
       'EDUCATION_5', 'EDUCATION_6', 'EDUCATION_7', 'EMPLOYMENT_0',
       'EMPLOYMENT_1', 'EMPLOYMENT_2', 'EMPLOYMENT_3'],
      dtype='object')

In [8]:
#First groupby individual user level data in SERIAL, average for family size and YRS in the USA
ipums_groupby_average = ipums_cleaned.ix[:,0:4].groupby(["SERIAL"], as_index = False).mean()
ipums_groupby_average.head(n=5)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

   SERIAL    PUMA  FAMSIZE  YRSUSA1
0       1   700.0      2.0      0.0
1       2   900.0      1.0      0.0
2       3   302.0      4.0      0.0
3       4   600.0      2.0      0.0
4       5  2500.0      2.0      0.0

In [9]:
#Groupby individual user level data in SERIAL, sum for every other metric
ix_to_sum = list([0]) + list(range(5,len(ipums_cleaned.columns)))
ipums_groupby_sum = ipums_cleaned.ix[:,ix_to_sum].groupby(["SERIAL"], as_index = False).sum()
ipums_groupby_sum.head()

,SERIAL,RACE_1,RACE_2,RACE_3,RACE_4,RACE_5,RACE_6,RACE_7,RACE_8,RACE_9,...,EDUCATION_2,EDUCATION_3,EDUCATION_4,EDUCATION_5,EDUCATION_6,EDUCATION_7,EMPLOYMENT_0,EMPLOYMENT_1,EMPLOYMENT_2,EMPLOYMENT_3
0,1,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
1,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,4,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,3
3,4,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
4,5,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1

In [10]:
#Merge sum and average metrics
ipums_cleaned_2 = ipums_groupby_average.merge(ipums_groupby_sum, left_on = "SERIAL", right_on = "SERIAL", how = "left")
ipums_cleaned_2.head()

,SERIAL,PUMA,FAMSIZE,YRSUSA1,RACE_1,RACE_2,RACE_3,RACE_4,RACE_5,RACE_6,...,EDUCATION_2,EDUCATION_3,EDUCATION_4,EDUCATION_5,EDUCATION_6,EDUCATION_7,EMPLOYMENT_0,EMPLOYMENT_1,EMPLOYMENT_2,EMPLOYMENT_3
0,1,700.0,2.0,0.0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
1,2,900.0,1.0,0.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,302.0,4.0,0.0,4,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,3
3,4,600.0,2.0,0.0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
4,5,2500.0,2.0,0.0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1

In [11]:
#Now groupby PUMA, sum and average in the same way and rejoin
ipums_groupby_average_2 = ipums_cleaned_2.ix[:,1:4].groupby(["PUMA"], as_index = False).mean()
ix_to_sum_2 = list([1]) + list(range(5,39))
ipums_groupby_sum_2 = ipums_cleaned_2.ix[:,ix_to_sum_2].groupby(["PUMA"], as_index = False).sum()

#Final left join by PUMA, ready to merge with census data
ipums_master = ipums_groupby_average_2.merge(ipums_groupby_sum_2, left_on = "PUMA", right_on = "PUMA", how = "left")
ipums_master.head()

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

,PUMA,FAMSIZE,YRSUSA1,RACE_2,RACE_3,RACE_4,RACE_5,RACE_6,RACE_7,RACE_8,...,EDUCATION_2,EDUCATION_3,EDUCATION_4,EDUCATION_5,EDUCATION_6,EDUCATION_7,EMPLOYMENT_0,EMPLOYMENT_1,EMPLOYMENT_2,EMPLOYMENT_3
0,100.0,2.161538,1.197337,2453.0,3838.0,132.0,160.0,1406.0,748.0,1872.0,...,790.0,3175.0,3234.0,3370.0,3178.0,461.0,12405.0,29746.0,1633.0,23550.0
1,101.0,1.969199,2.744565,2084.0,165.0,326.0,53.0,741.0,579.0,616.0,...,174.0,830.0,820.0,797.0,2108.0,525.0,3126.0,8825.0,601.0,6638.0
2,102.0,2.222179,3.388744,2520.0,197.0,382.0,52.0,703.0,732.0,628.0,...,222.0,916.0,932.0,994.0,1002.0,308.0,3652.0,10447.0,507.0,6311.0
3,103.0,2.096533,3.106207,1754.0,191.0,238.0,30.0,545.0,631.0,534.0,...,155.0,648.0,679.0,713.0,1207.0,304.0,2666.0,8043.0,412.0,4603.0
4,104.0,2.182327,3.108139,2603.0,63.0,101.0,10.0,236.0,817.0,286.0,...,154.0,545.0,517.0,571.0,593.0,150.0,2133.0,5393.0,394.0,3757.0

In [12]:
ipums_master.PUMA = ipums_master.PUMA.astype(int)
ipums_master.head()

,PUMA,FAMSIZE,YRSUSA1,RACE_2,RACE_3,RACE_4,RACE_5,RACE_6,RACE_7,RACE_8,...,EDUCATION_2,EDUCATION_3,EDUCATION_4,EDUCATION_5,EDUCATION_6,EDUCATION_7,EMPLOYMENT_0,EMPLOYMENT_1,EMPLOYMENT_2,EMPLOYMENT_3
0,100,2.161538,1.197337,2453.0,3838.0,132.0,160.0,1406.0,748.0,1872.0,...,790.0,3175.0,3234.0,3370.0,3178.0,461.0,12405.0,29746.0,1633.0,23550.0
1,101,1.969199,2.744565,2084.0,165.0,326.0,53.0,741.0,579.0,616.0,...,174.0,830.0,820.0,797.0,2108.0,525.0,3126.0,8825.0,601.0,6638.0
2,102,2.222179,3.388744,2520.0,197.0,382.0,52.0,703.0,732.0,628.0,...,222.0,916.0,932.0,994.0,1002.0,308.0,3652.0,10447.0,507.0,6311.0
3,103,2.096533,3.106207,1754.0,191.0,238.0,30.0,545.0,631.0,534.0,...,155.0,648.0,679.0,713.0,1207.0,304.0,2666.0,8043.0,412.0,4603.0
4,104,2.182327,3.108139,2603.0,63.0,101.0,10.0,236.0,817.0,286.0,...,154.0,545.0,517.0,571.0,593.0,150.0,2133.0,5393.0,394.0,3757.0

In [13]:
ptc.head()

   STATEFP  COUNTYFP  TRACTCE  PUMA5CE
0        1         1    20100     2100
1        1         1    20200     2100
2        1         1    20300     2100
3        1         1    20400     2100
4        1         1    20500     2100

In [14]:
ipums_merged_ptc = ipums_master.join(ptc, lsuffix = "PUMA", rsuffix = "PUMA5CE", how = "inner", sort = True)

print("\nipums_master shape", ipums_master.shape, 
      "\nptc shape", ptc.shape, 
      "\nipums_merged shape", ipums_merged_ptc.shape)

ipums_merged_ptc.head()

ipums_master shape (982, 37)
ptc shape (74091, 4)
ipums_merged shape (982, 41)

,PUMA,FAMSIZE,YRSUSA1,RACE_2,RACE_3,RACE_4,RACE_5,RACE_6,RACE_7,RACE_8,...,EDUCATION_6,EDUCATION_7,EMPLOYMENT_0,EMPLOYMENT_1,EMPLOYMENT_2,EMPLOYMENT_3,STATEFP,COUNTYFP,TRACTCE,PUMA5CE
0,100,2.161538,1.197337,2453.0,3838.0,132.0,160.0,1406.0,748.0,1872.0,...,3178.0,461.0,12405.0,29746.0,1633.0,23550.0,1,1,20100,2100
1,101,1.969199,2.744565,2084.0,165.0,326.0,53.0,741.0,579.0,616.0,...,2108.0,525.0,3126.0,8825.0,601.0,6638.0,1,1,20200,2100
2,102,2.222179,3.388744,2520.0,197.0,382.0,52.0,703.0,732.0,628.0,...,1002.0,308.0,3652.0,10447.0,507.0,6311.0,1,1,20300,2100
3,103,2.096533,3.106207,1754.0,191.0,238.0,30.0,545.0,631.0,534.0,...,1207.0,304.0,2666.0,8043.0,412.0,4603.0,1,1,20400,2100
4,104,2.182327,3.108139,2603.0,63.0,101.0,10.0,236.0,817.0,286.0,...,593.0,150.0,2133.0,5393.0,394.0,3757.0,1,1,20500,2100

In [15]:
acs["Census_Tract"] = (acs["Geography"].str.replace("Census Tract ", "").str.split(",").str[0].astype(float)*100).astype(int)
acs["County"] = acs["Geography"].str.replace("Census Tract ", "").str.split(",").str[1]
acs["State"] = acs["Geography"].str.replace("Census Tract ", "").str.split(",").str[2]
acs_to_merge = acs[["Census_Tract", "County", "State", "Id", "Id2","Margin of Error; Total", "Estimate; Total"]]
acs_to_merge.head()

,Census_Tract,County,State,Id,Id2,Margin of Error; Total,Estimate; Total
0,20100,Autauga County,Alabama,1400000US01001020100,1001020100,231,2010
1,20200,Autauga County,Alabama,1400000US01001020200,1001020200,281,2196
2,20300,Autauga County,Alabama,1400000US01001020300,1001020300,355,3136
3,20400,Autauga County,Alabama,1400000US01001020400,1001020400,464,4563
4,20500,Autauga County,Alabama,1400000US01001020500,1001020500,655,10529

In [16]:
# acs_ipums = acs_to_merge.join(ipums_merged_ptc, lsuffix = "Census_Tract", rsuffix = "TRACTCE", how = "left", sort = True)
# acs_ipums = acs_ipums.drop(acs_ipums[["TRACTCE", "PUMA5CE"]], axis = 1)

# print("\nacs_to_merge shape", acs_to_merge.shape,
#       "\nipums_merged_ptc shape", ipums_merged_ptc.shape,
#       "\nacs_ipums shape", acs_ipums.shape)

# acs_ipums.head(n=10)

acs_to_merge shape (74001, 7)
ipums_merged_ptc shape (982, 41)
acs_ipums shape (74001, 46)

,Census_Tract,County,State,Id,Id2,Margin of Error; Total,Estimate; Total,PUMA,FAMSIZE,YRSUSA1,...,EDUCATION_4,EDUCATION_5,EDUCATION_6,EDUCATION_7,EMPLOYMENT_0,EMPLOYMENT_1,EMPLOYMENT_2,EMPLOYMENT_3,STATEFP,COUNTYFP
0,20100,Autauga County,Alabama,1400000US01001020100,1001020100,231,2010,100.0,2.161538,1.197337,...,3234.0,3370.0,3178.0,461.0,12405.0,29746.0,1633.0,23550.0,1.0,1.0
1,20200,Autauga County,Alabama,1400000US01001020200,1001020200,281,2196,101.0,1.969199,2.744565,...,820.0,797.0,2108.0,525.0,3126.0,8825.0,601.0,6638.0,1.0,1.0
2,20300,Autauga County,Alabama,1400000US01001020300,1001020300,355,3136,102.0,2.222179,3.388744,...,932.0,994.0,1002.0,308.0,3652.0,10447.0,507.0,6311.0,1.0,1.0
3,20400,Autauga County,Alabama,1400000US01001020400,1001020400,464,4563,103.0,2.096533,3.106207,...,679.0,713.0,1207.0,304.0,2666.0,8043.0,412.0,4603.0,1.0,1.0
4,20500,Autauga County,Alabama,1400000US01001020500,1001020500,655,10529,104.0,2.182327,3.108139,...,517.0,571.0,593.0,150.0,2133.0,5393.0,394.0,3757.0,1.0,1.0
5,20600,Autauga County,Alabama,1400000US01001020600,1001020600,397,3742,105.0,2.130796,3.428072,...,441.0,448.0,599.0,216.0,1640.0,4994.0,224.0,2868.0,1.0,1.0
6,20700,Autauga County,Alabama,1400000US01001020700,1001020700,394,3047,106.0,2.372272,5.540165,...,114.0,126.0,123.0,27.0,433.0,1232.0,62.0,721.0,1.0,1.0
7,20801,Autauga County,Alabama,1400000US01001020801,1001020801,338,3025,107.0,2.600890,6.378065,...,163.0,154.0,174.0,44.0,581.0,1419.0,62.0,931.0,1.0,1.0
8,20802,Autauga County,Alabama,1400000US01001020802,1001020802,664,10743,108.0,2.650866,7.329578,...,124.0,121.0,147.0,31.0,496.0,1326.0,70.0,727.0,1.0,1.0
9,20900,Autauga County,Alabama,1400000US01001020900,1001020900,458,5912,109.0,2.286133,6.400713,...,126.0,114.0,333.0,108.0,552.0,1549.0,61.0,858.0,1.0,1.0

In [17]:
# FCC Doesn't Merge Well
# fcc["tractcode"] = fcc["10"].astype(str).str[5:11]
# fcc.head()

#fcc_providers = pd.DataFrame(fcc.groupby('Census_Tract').Provider_Id.nunique()).reset_index()
#fcc_providers.rename(index=str, columns={"Census_Tract" : "Census_Tract", "Provider_Counts" : "Provider_Counts"})
#fcc_providers.head()

In [19]:

fcc.rename(index=str, columns={"Census_Tract" : "tractcode", "pct_all" : "Percentage_internet"})
fcc.head()

     tractcode  pcat_all  pcat_10x1
0  01001020100         4          4
1  01001020200         4          3
2  01001020300         5          4
3  01001020400         5          4
4  01001020500         5          4

In [25]:
master_merged = acs_ipums.merge(fcc, left_on = "Census_Tract", right_on = "tractcode", how = "left")

In [22]:
master_merged

,Census_Tract,County,State,Id,Id2,Margin of Error; Total,Estimate; Total,PUMA,FAMSIZE,YRSUSA1,...,EDUCATION_7,EMPLOYMENT_0,EMPLOYMENT_1,EMPLOYMENT_2,EMPLOYMENT_3,STATEFP,COUNTYFP,tractcode,pcat_all,pcat_10x1
0,20100,Autauga County,Alabama,1400000US01001020100,1001020100,231,2010,100.0,2.161538,1.197337,...,461.0,12405.0,29746.0,1633.0,23550.0,1.0,1.0,NaN,NaN,NaN
1,20200,Autauga County,Alabama,1400000US01001020200,1001020200,281,2196,101.0,1.969199,2.744565,...,525.0,3126.0,8825.0,601.0,6638.0,1.0,1.0,NaN,NaN,NaN
2,20300,Autauga County,Alabama,1400000US01001020300,1001020300,355,3136,102.0,2.222179,3.388744,...,308.0,3652.0,10447.0,507.0,6311.0,1.0,1.0,NaN,NaN,NaN
3,20400,Autauga County,Alabama,1400000US01001020400,1001020400,464,4563,103.0,2.096533,3.106207,...,304.0,2666.0,8043.0,412.0,4603.0,1.0,1.0,NaN,NaN,NaN
4,20500,Autauga County,Alabama,1400000US01001020500,1001020500,655,10529,104.0,2.182327,3.108139,...,150.0,2133.0,5393.0,394.0,3757.0,1.0,1.0,NaN,NaN,NaN
5,20600,Autauga County,Alabama,1400000US01001020600,1001020600,397,3742,105.0,2.130796,3.428072,...,216.0,1640.0,4994.0,224.0,2868.0,1.0,1.0,NaN,NaN,NaN
6,20700,Autauga County,Alabama,1400000US01001020700,1001020700,394,3047,106.0,2.372272,5.540165,...,27.0,433.0,1232.0,62.0,721.0,1.0,1.0,NaN,NaN,NaN
7,20801,Autauga County,Alabama,1400000US01001020801,1001020801,338,3025,107.0,2.600890,6.378065,...,44.0,581.0,1419.0,62.0,931.0,1.0,1.0,NaN,NaN,NaN
8,20802,Autauga County,Alabama,1400000US01001020802,1001020802,664,10743,108.0,2.650866,7.329578,...,31.0,496.0,1326.0,70.0,727.0,1.0,1.0,NaN,NaN,NaN
9,20900,Autauga County,Alabama,1400000US01001020900,1001020900,458,5912,109.0,2.286133,6.400713,...,108.0,552.0,1549.0,61.0,858.0,1.0,1.0,NaN,NaN,NaN
10,21000,Autauga County,Alabama,1400000US01001021000,1001021000,317,2899,110.0,2.283942,3.949536,...,56.0,680.0,1818.0,69.0,1059.0,1.0,1.0,NaN,NaN,NaN
11,21100,Autauga County,Alabama,1400000US01001021100,1001021100,348,3247,111.0,2.071888,3.314510,...,19.0,148.0,412.0,18.0,395.0,1.0,1.0,NaN,NaN,NaN
12,10100,Baldwin County,Alabama,1400000US01003010100,1003010100,560,4013,112.0,2.281137,3.254264,...,17.0,205.0,581.0,20.0,384.0,1.0,3.0,NaN,NaN,NaN
13,10200,Baldwin County,Alabama,1400000US01003010200,1003010200,352,3067,113.0,2.144378,4.073148,...,14.0,184.0,569.0,30.0,317.0,1.0,3.0,NaN,NaN,NaN
14,10300,Baldwin County,Alabama,1400000US01003010300,1003010300,1045,8079,114.0,2.100689,3.987743,...,13.0,154.0,500.0,21.0,289.0,1.0,3.0,NaN,NaN,NaN
15,10400,Baldwin County,Alabama,1400000US01003010400,1003010400,546,4578,115.0,2.209135,3.352939,...,7.0,207.0,443.0,44.0,252.0,1.0,3.0,NaN,NaN,NaN
16,10500,Baldwin County,Alabama,1400000US01003010500,1003010500,503,5115,116.0,1.997159,3.490445,...,16.0,201.0,567.0,41.0,305.0,1.0,3.0,NaN,NaN,NaN
17,10600,Baldwin County,Alabama,1400000US01003010600,1003010600,470,3503,117.0,2.005604,3.559663,...,20.0,156.0,481.0,41.0,285.0,1.0,3.0,NaN,NaN,NaN
18,10701,Baldwin County,Alabama,1400000US01003010701,1003010701,612,7938,118.0,2.103416,4.241825,...,26.0,245.0,585.0,38.0,351.0,1.0,3.0,NaN,NaN,NaN
19,10703,Baldwin County,Alabama,1400000US01003010703,1003010703,1080,17062,119.0,2.505239,4.309253,...,17.0,286.0,369.0,29.0,363.0,1.0,3.0,NaN,NaN,NaN
20,10704,Baldwin County,Alabama,1400000US01003010704,1003010704,607,6004,120.0,2.366275,3.198843,...,17.0,201.0,553.0,24.0,253.0,1.0,3.0,NaN,NaN,NaN
21,10705,Baldwin County,Alabama,1400000US01003010705,1003010705,974,9435,121.0,3.114753,5.870446,...,17.0,310.0,564.0,26.0,270.0,1.0,3.0,NaN,NaN,NaN
22,10800,Baldwin County,Alabama,1400000US01003010800,1003010800,821,7686,122.0,3.115243,7.087042,...,5.0,324.0,451.0,38.0,309.0,1.0,3.0,NaN,NaN,NaN
23,10903,Baldwin County,Alabama,1400000US01003010903,1003010903,559,5953,123.0,3.467210,6.221952,...,6.0,350.0,519.0,38.0,326.0,1.0,3.0,NaN,NaN,NaN
24,10904,Baldwin County,Alabama,1400000US01003010904,1003010904,907,6523,124.0,2.535664,4.223624,...,9.0,269.0,483.0,38.0,319.0,1.0,3.0,NaN,NaN,NaN
25,10905,Baldwin County,Alabama,1400000US01003010905,1003010905,711,8055,125.0,2.477909,3.846809,...,14.0,186.0,388.0,32.0,265.0,1.0,3.0,NaN,NaN,NaN
26,10906,Baldwin County,Alabama,1400000US01003010906,1003010906,633,5272,126.0,2.180313,2.063869,...,39.0,196.0,604.0,33.0,419.0,1.0,3.0,NaN,NaN,NaN
27,11000,Baldwin County,Alabama,1400000US01003011000,1003011000,582,3885,127.0,2.432253,2.741006,...,10.0,221.0,526.0,33.0,374.0,1.0,3.0,NaN,NaN,NaN
28,11101,Baldwin County,Alabama,1400000US01003011101,1003011101,812,9685,128.0,2.434062,2.469920,...,21.0,216.0,521.0,30.0,271.0,1.0,3.0,NaN,NaN,NaN
29,11102,Baldwin County,Alabama,1400000US01003011102,1003011102,504,4578,129.0,2.425619,2.276115,...,14.0,248.0,553.0,23.0,348.0,1.0,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73971,990000,Vega Baja Municipio,Puerto Rico,1400000US72145990000,72145990000,13,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73972,950500,Vieques Municipio,Puerto Rico,1400000US72147950500,72147950500,787,5176,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73973,950600,Vieques Municipio,Puerto Rico,1400000US72147950600,72147950600,787,3870,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73974,990000,Vieques Municipio,Puerto Rico,1400000US72147990000,72147990000,13,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73975,720100,Villalba Municipio,Puerto Rico,1400000US72149720100,72149720100,536,4491,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73976,720300,Villalba Municipio,Puerto Rico,1400000US72149720300,72149720300,749,5664,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73977,720400,Villalba Municipio,Puerto Rico,1400000US72149720400,72149720400,325,2223,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73978,720502,Villalba Municipio,Puerto Rico,1400000US72149720502,72149720502,510,3586,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73979,720503,Villalba Municipio,Puerto Rico,1400000US72149720503,72149720503,565,4336,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73980,720504,Villalba Municipio,Puerto Rico,1400000US72149720504,72149720504,529,3886,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73981,950600,Yabucoa Municipio,Puerto Rico,1400000US72151950600,72151950600,991,6733,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73982,950700,Yabucoa Municipio,Puerto Rico,1400000US72151950700,72151950700,749,4656,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73983,950800,Yabucoa Municipio,Puerto Rico,1400000US72151950800,72151950800,579,3717,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73984,950900,Yabucoa Municipio,Puerto Rico,1400000US72151950900,72151950900,660,5599,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73985,951000,Yabucoa Municipio,Puerto Rico,1400000US72151951000,72151951000,492,3056,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73986,951100,Yabucoa Municipio,Puerto Rico,1400000US72151951100,72151951100,397,2293,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73987,951200,Yabucoa Municipio,Puerto Rico,1400000US72151951200,72151951200,627,4289,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73988,951300,Yabucoa Municipio,Puerto Rico,1400000US72151951300,72151951300,707,5327,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73989,990000,Yabucoa Municipio,Puerto Rico,1400000US72151990000,72151990000,13,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73990,750101,Yauco Municipio,Puerto Rico,1400000US72153750101,72153750101,530,2336,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73991,750102,Yauco Municipio,Puerto Rico,1400000US72153750102,72153750102,638,3488,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73992,750201,Yauco Municipio,Puerto Rico,1400000US72153750201,72153750201,622,3284,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73993,750202,Yauco Municipio,Puerto Rico,1400000US72153750202,72153750202,581,3595,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73994,750300,Yauco Municipio,Puerto Rico,1400000US72153750300,72153750300,650,4543,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73995,750400,Yauco Municipio,Puerto Rico,1400000US72153750400,72153750400,568,3031,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73996,750501,Yauco Municipio,Puerto Rico,1400000US72153750501,72153750501,765,6397,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73997,750502,Yauco Municipio,Puerto Rico,1400000US72153750502,72153750502,397,2026,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73998,750503,Yauco Municipio,Puerto Rico,1400000US72153750503,72153750503,420,2259,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73999,750601,Yauco Municipio,Puerto Rico,1400000US72153750601,72153750601,688,4819,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74000,750602,Yauco Municipio,Puerto Rico,1400000US72153750602,72153750602,603,2741,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
acs_ipums.to_csv("Master_Data.csv")